a:link{
    text-decoration: none;
    color: #1b1b1b;
}
a:visited{
    text-decoration: none;
    color: #1b1b1b;
}
a:hover {
    text-decoration: underline;
    color: #1b1b1b;
}

a:active{
    text-decoration: none;
    color: #1b1b1b;
}

body {
	margin-left: 0px;
	font-family: 'Open Sans', Arial;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width:100%;
	min-width:1210px;
}
:focus {
outline: 0;
}
.subseccionboton {
	background-image: url(../img/botonm.png);
	width: 301px;
	height: 32px;
	cursor: pointer;
	padding-top: 14px;
	padding-left:10px;
	border: 0;
	font-size:14px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.container .row *,
.container .row *:before,
.container .row *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-custom {
  background-color: #096f81;
  border-color: #096f81;
  color: #FFF;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #075a69;
  border-color: #064651;
  color: #FFF;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #096f81;
  border-color: #096f81;
  color: #FFF;
}
